::-webkit-scrollbar {
  width: 2px;
  height: 10px;
  overflow: auto;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  min-height: 25px;
  min-width: 25px;
  border: 1px solid #e0e0e0;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid transparent;
}